<!doctype html>
<html lang="en">
<head>
  {{ insert gtag.html }}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/assets/site/logo.svg">

  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="/css/custom.css" rel="stylesheet">

  <!-- distill -->
  <script src="/libs/distill/template.v2.8.0.js"></script>
  {{frontmatter}}
</head>
<body>
  {{insert nav.html}}
    <d-title><h1>{{title}}</h1>{{adddescription}}</d-title>
    {{byline}}
    {{dtoc}}
<!-- Content appended here -->
